<div class="navbar">
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/cart" routerLinkActive="active">Cart</a>

  <!-- Access `isLoggedIn` from the authService -->
  <ng-container *ngIf="authService.isLoggedIn">
    <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    <a routerLink="/add-product" routerLinkActive="active">Add Product</a>
  </ng-container>

  <button (click)="toggleLogin()" class="login-btn">
    {{ authService.isLoggedIn ? 'Logout' : 'Login' }}
  </button>
</div>

<router-outlet></router-outlet>
